
@{
    ViewBag.Title = "DemonstrationSession";
}

<h2>DemonstrationSession</h2>
<h2>Session Data (From another action): @Session["MyTimeSession"]</h2>

<h2>using tempdata</h2>
<h2>@TempData["MyData"]</h2>


