
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h1>@ViewData["MyData"]</h1>
<h2>using viewbag</h2>
<h3>@ViewBag.MyTime</h3>

<h2>using tempdata</h2>
<h2>@TempData["MyData"]</h2>

<h1>using session</h1>
<h1>@Session["MyTimeSession"]</h1>

